<% flash.each do |key, message| %>
  <% case key.to_s %>
  <% when 'alert' %>
    <div class="alert alert-danger" role="alert">
      <li><%= message %></li>
    </div>
  <% when 'notice' %>
    <div class="alert alert-primary" role="alert">
      <li><%= message.html_safe %></li>
    </div>
  <% end %>
<% end %>