<footer class="footer">
  <div align="center">
    <br>
    <%= current_year %><br>
    Malykhin Sergey <br>
    <%= github_url('Malykhins', 'TestGuru') %><br>
    <%= link_to 'Study project at Thinknetica online school', 'https://thinknetica.com', target: '_blank' %>
  </div>
</footer>
